@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Pacifico&family=Poppins:wght@200&display=swap');

:root {
  --gray: #4f4f4f;
  --card-bg: #f3f3f3;
}
.extra-margin {
  margin-top: 10rem;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel {
  /* padding: 1rem 2rem ; */
}

.bg-img{
  background-image: url('../src/images/service-img-2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1250px;
}

.cal{
min-height: calc(100%-96px);
}

.debug{
  border: 1px solid red;
}

.about{
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  background-color: #fff;
}

.about1{
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  position: relative;
  background-color: #fff;
}

.bgcard1{
  box-shadow: 0px 2px 22px rgba(30, 91, 198, 0.25);
  

}


.bgcard1::before{
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.9s;
  opacity: 0.7;
  z-index: 10;
}

.bgcard1:hover::before{
  transform: scaleX(1);
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 50;
}
.tg:hover .image {
  opacity: 0.3;
}

.tg:hover .capt{
  opacity: 0;
}

.tg:hover .middle {
  opacity: 1;
}

.text {
  background-color: #152908;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  cursor: pointer;
}

.foottwitter:hover{
  color: rgb(13, 106, 160);
}

.footinsta:hover{
  color: red;
}

.footfb:hover{
  color:rgb(43, 145, 241);
}

.footgithub:hover{
color: black;
}

.footdiscord:hover{
  fill: #61dafb;
  color:rgb(43, 145, 241);
}

@media (max-width: 600px) {
  .smll{
    padding-right:5px;
    padding-left:8px;

  }

  .smll-font{
    font-size: medium;
    line-height: 1.5;

  }
}

.dal::backdrop{
  background-color: rgba(255, 0, 0, 0.5);

}

Box::backdrop {
  background-color: rgb(255, 0, 0);
}


.benefits {
  padding: 3rem 0 3rem;
  background-color: var(--card-bg);
  margin-bottom: 4rem;
}

.benefits-single {
  width: 250px;
  text-align: center;
  margin: 1rem;
}

.benefits-wara,
.benefits-quality {
  width: 55px;
  padding-bottom: 1rem;
  margin-left: 90px;
}

.benefits-truck {
  width: 100px;
  padding-bottom: 1rem;
  margin-left: 70px;
}

.benefits-head {
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
.benefits-detail {
  color: var(--gray);
}

@media screen and (max-width: 350px) {
  .benefits-single {
   margin-left:30px;
  }
 
}